*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	align-items: center;
	background: #eff4ff;
	height: auto;
  padding: 20px 45px 20px 5px;
  width: 100%;
}

.bx-chevron-left{
  font-size: 45px;
  cursor: pointer;
  box-shadow:-5px -5px 10px rgb(255, 255, 255), 5px 5px 10px rgb(129 154 181 / 43%);
  border-radius: 10px;
  margin-left: 20px;
}

.bx-chevron-left:hover{
  box-shadow:inset -2px -2px 6px rgb(59 59 59 / 18%), inset 2px 2px 6px rgb(129 154 181 / 43%);
}

table{
    width:100%;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    margin-top:2px;
    text-align:center;
  }
  
  th{
    background: #2e3242;
    color:#fff;
    height:45px;
    width: 16.67%;
  }
  
  .first_th:first-child{
    border-top-left-radius: 20px;
  }
  
  .first_th:last-child{
    border-top-right-radius: 20px;
  }
  
  .last_td:first-child{
    border-bottom-left-radius: 20px;
  }
  
  .last_td:last-child{
    border-bottom-right-radius: 20px;
  }
  
  .second_title{
    background: #585d73;
    color:#fff;
    font-weight:600;
    height: 35px;
  }
  
  td{
    background-color:#fff;
    text-align:center;
    height:25px;
    width: 16.67%;
  }
  
  td:hover{
    background-color:#d1d4e0;
    font-weight:600;
  }
  
  .second_title:hover{
    background-color:#585d73;
  }

  
.accordion{
    margin-top: 40px;
    margin-right:0px;
    margin-left:0px;
    width:100%;
  }
  
  .accordion li{
      list-style: none;
      width:100%;
      margin:20px;
      padding:10px;
      border-radius: 25px;
      background:#edf0fa;
      box-shadow:-5px -5px 10px rgb(255, 255, 255), 5px 5px 10px rgb(129 154 181 / 43%);
  }
  
  .accordion li label{
      display:flex;
      align-items: center;
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
  }
  
  label::before{
      content:"+";
      margin-right: 10px;
      font-weight: 1000px;
  }
  
  .contentuse{
      display: none;
  }
  
  .accordion .content{
      color: #555;
      padding:0 10px;
      max-height:0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
      overflow:scroll;
  }
  
  .contentuse:checked + label + .content{
      max-height: 2400px;
      padding: 10px 10px 20px;
  }
  
  .contentuse:checked + label::before{
      content:'-';
  }
