@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
*{
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
}

body{
 background: linear-gradient(to right, #008cff, #e100ff);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 max-height: 100vh;
 overflow: hidden;
}

img{
  width: 20%;
}

.container{
 position: absolute;
 bottom: 0;
 height: 60vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 5px;
 flex-wrap: wrap;
 width: 100%;
 max-width: 850px;
 background: #eff4ff;
 /* margin-top: 1vh; */
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
}

.content p {
 margin-left: 10px;
}

.formbx{
 position: relative;
 border-radius: 15px;
 padding: 10px 10px;
 width: 70%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: column;
 height: 100%;
}

.form{
 padding: 5px;
 margin-top: 10px;
 width: 100%;
 text-align: center;
}

.CA{
 position: relative;
 width: 30%;
 background: #42455a;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 text-align: center;
 padding: 5px;
 color: #fff;
 cursor: pointer;
 background: linear-gradient(to bottom right, #008cff, #e100ff);
 height: 100%;
}

.loader {
  width: 23px;
  height: 23px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

hr{
 margin-top: 20px;
 width: 100%;
}

.form-box{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 height: 35px;
}

.form-box input{
 width: 100%;
 padding: 5px 10px;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 border: 2px solid rgb(220, 217, 217);
 height: 100%;
}

select{
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid rgb(220, 217, 217);
  height: 100%;
  margin-bottom: 10px;
}

.tit{
  font-size: 30px;
}

.note{
 font-size: 12px;
 color: #42455a;
 width: 100%;
 text-align: center;
 border: 1px dashed #42455a;
 padding: 5px;
 border-radius: 5px;
}

.content hr{
 margin-bottom: 15px;
}

@media (max-width: 800px){
 .function{
  width: 100%;
 }

 .formbx{
  width: 100%;
 }

 .box::after{
  top: 20px;
 }
}

.loading{
   position: absolute;
   width:100%;
   height: 100%;
   background: #eff4ff;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
  }
  
.transfrom{
   z-index: 1;
   background: #42455a;
  }

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.warn{
  position: absolute;
  width:100%;
  height: 100%;
  background: #fff;
  border-radius: 15px;
  z-index:-100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.context{
  width: 60%;
  margin-top: 55px;
  text-align: center;
}

.bxs-message-square-x{
  position: absolute;
  top:20px;
  right:20px;
  font-size: 25px;
  color: #008cff;
  cursor: pointer;
}
