*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

html { 
        overflow-x: hidden; 
	height: auto; 
	margin: 0; 
	padding: 0; 
	border: none;
	width: 99.5vw;
}

body{
	align-items: center;
	background: #eff4ff;
  padding: 20px 20px;
  width: 99.5vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.top{
    height: 130px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.bxs-user{
    font-size: 20px;
    color: #fff;
    background: linear-gradient(to bottom right, #008cff, #e100ff);
    border-radius: 50%;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.bx-menu{
    margin-bottom: 10px;
    font-size: 40px;
    cursor: pointer;
    color: gray;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: gray;
    font-weight: 600;
}

.user-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.bxs-down-arrow{
    font-size: 10px;
    cursor: pointer;
}

.bxs-face, .bx-log-out-circle{
    color: black;
}

.item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.newbiepage{
    color: black;
    font-weight: 300;
}

.user:hover .item2{
    visibility: visible;
}

ul.bar, .item2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    list-style: none;
    width: auto;
    height: auto;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    /* box-shadow:inset -2px -2px 6px rgb(59 59 59 / 18%), inset 2px 2px 6px rgb(129 154 181 / 43%); */
    visibility: hidden;
    cursor: pointer;
    background: #fff;
}

.nav-bar:hover .bar {
    visibility: visible;
}

.box{
    margin-top: 40px;
}

.item2-det{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 7px;
}

.main-content{
    height: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
}

.category{
    display: flex;
    flex-direction: row;
}

.score{
    display: flex;
    flex-direction: row;
}

.box-content{
    padding: 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: auto;
    height: auto;
    gap: 30px;
    border-radius: 10px;
	/* box-shadow: 5px 5px 8px rgb(129, 154, 181 , 0.43), -6px -6px 10px rgb(255 255 255); */
    cursor: pointer;
    background: #fff;
}

.title{
    /* box-shadow: 0 0 6px 6px #eff4ff, 8px 8px 10px 4px rgb(129, 154, 181 , 0.43), -8px -8px 10px 4px rgb(255 255 255); */
    cursor: none;
    font-weight: 600;
}

p.first{
    position: absolute;
    right: 45%;
    min-width: 100px;
}

p.second{
    position: absolute;
    right: 25%;
    min-width: 100px;
}

p.third{
    position: absolute;
    right: 5%;
    min-width: 100px;
}

table{
    width:100%;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    margin-top:2px;
    text-align:center;
    min-width: 500px;
  }
  
  th{
    background: #2e3242;
    color:#fff;
    height:45px;
    width: 16.67%;
  }
  
  .first_th:first-child{
    border-top-left-radius: 20px;
  }
  
  .first_th:last-child{
    border-top-right-radius: 20px;
  }
  
  .last_td:first-child{
    border-bottom-left-radius: 20px;
  }
  
  .last_td:last-child{
    border-bottom-right-radius: 20px;
  }
  
  .second_title{
    background: #555768;
    color: #fff;
    font-weight:600;
    height: 35px;
  }
  
  td{
    background-color:#fff;
    text-align:center;
    height:25px;
    width: 14.29%;
  }
  
  td:hover{
    background-color:#d1d4e0;
    font-weight:600;
  }
  
  .second_title:hover{
    background-color:#585d73;
  }

  
.accordion{
    margin-top: 0px;
    margin-right:50px;
    margin-left:-5px;
    width:100%;
    padding: 10px 3px;
  }
  
.accordion li{
      list-style: none;
      margin:20px;
      padding:10px;
      border-radius: 25px;
      background: #fff

      /* box-shadow:-5px -5px 10px rgb(255, 255, 255), 5px 5px 10px rgb(129 154 181 / 43%); */
  }
  
  .accordion li label{
      display:flex;
      align-items: center;
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
  }
  
  label::before{
      content:"+";
      margin-right: 10px;
      font-weight: 1000px;
  }
  
  .contentuse{
      display: none;
  }
  
  .accordion .content{
      color: #555;
      padding:0 10px;
      max-height:0;
      overflow: hidden;
      transition: max-height 0.5s, padding 0.5s;
      overflow:scroll;
      scrollbar-width: none;
  }
  
  .contentuse:checked + label + .content{
      max-height: 2900px;
      padding: 10px 10px 20px;
  }
  
  .contentuse:checked + label::before{
      content:'-';
  }

  .detail{
    margin-top: 0px;
    width: 100%;
    height: auto;
    padding: 0px 0px;
    /* background: #eff4ff; */
    background: #d6d6ea;
    border: none;
    border-radius: 10px;
    box-shadow:inset -2px -2px 6px rgb(59 59 59 / 18%), inset 2px 2px 6px rgb(129 154 181 / 43%);
    visibility: visible;
  }


  @media(max-width:1015px){
    th{
        font-size: 13px;
        max-height: 1px;
        width: auto;
    }
    td{
        font-size: 13px;
        max-height: 1px;
        width: auto;
    }
  }

  @media(max-width:800px){
    th{
        font-size: 11px;
    }
    td{
        font-size: 11x;
    }
  }

  @media(max-width:650px){
    th{
        font-size: 10px;
    }
    td{
        font-size: 10px;
    }
  }

  .preview{
    display:none;
  }

  .bx-download{
    font-size: 25px;
    cursor: pointer;
    margin-left: 11px;
    margin-top: -50px;
  }

.loader {
    position: fixed;
    left: 51%;
    top: 50%;
    /* transform: translateX(-50%); */
    width: 35px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,gray) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
    visibility: hidden;
  }
  @keyframes l4 {to{transform: rotate(1turn)}}

.unavailable{
    position: absolute;
    left: 120%;
    top: 87px;
    transform: translateX(-50%);
    width: fit-content;
    height: 40px;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.5s ease-out;
    visibility: hidden;
    padding: 15px 7px;
    color:rgb(223, 83, 83);
}

.bx-error-alt{
  font-size: 20px;
  margin-right: 7px;
}

.popup{
  position: absolute;
  left: 80%;
  top: 87px;
  visibility: visible;
  transition:all 1s ease-in-out;
}

.mainpage{
  height: fit-content;
  width: 100%;
  background: #008cff;
  overflow: hidden;
}



